.dropdown {
  position: relative;
  display: inline-block;
  width: 200px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 45px;
  right: 0px;
  width: 100%;
  background-color: white;
  font-weight: bold;
  position: absolute;
  border: 1px solid gray;
  z-index: 1;
}
li a {
  color: #000;
  text-decoration: none;
}
li {
  padding: 8px 16px;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
}
.icon {
  margin: 0 2px;
  width: 30px;
}
li:last-child {
  border-bottom: none;
}
li:hover {
  background-color: #e5e5e5;
  color: white;
}
.button {
  display: flex;
  padding: 12px;
  border-radius: 5px;
  font-weight: bold;
}
.button:before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border: 10px solid;
  border-color: black transparent transparent transparent;
  right: 6px;
  top: 18px;
}
